<div class="big-box">
  <div class="small-box color-1">
    <div class="medium-box">
      <div class="mr-20px">
        <h5>Orders</h5>
        <h2>532</h2>
      </div>
      <div>
        <i class="pi pi-cart-plus" style="font-size: 20px"></i>
      </div>
    </div>
  </div>
  <div class="small-box color-4">
    <div class="medium-box">
      <div class="mr-20px">
        <h5>Revenue</h5>
        <h2>$405488</h2>
      </div>
      <div>
        <i class="pi pi-chart-line" style="font-size: 20px"></i>
      </div>
    </div>
  </div>
</div>
<div class="chart-card">
  <p-chart class="chart-height" type="bar" [data]="data" [options]="options"></p-chart>
  <h4>Partner Acquisition 2023</h4>
</div>

