.container-main {
  width: 100vw;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.side-content {
  width: 300px;
  margin: 0;
  padding: 0;
}

.main-content {
  width: auto;
  min-width: 80vh;
  padding-top: 80px;
  @media only screen and (max-width: 1532px) {
    margin: 0;
    width: 100vh;
    min-width: 0;
  }
}

.bg-themes {
  background: url('https://img.freepik.com/free-vector/white-minimal-hexagons-background_79603-1452.jpg') no-repeat;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  top:0;
  position: fixed;
  z-index: -10;
  background-size: cover;
  filter: blur(10px);
}

.content-box {
  width: 80vw;
  height: 75vh;
  margin-top: 30px;
  margin-left: 0;
  padding-left: 0;
  position: fixed;
  display: flex;
  justify-content: center;

  @media only screen and (max-width: 1140px) {
    justify-content: left;
    margin-left: 5vw;
  }

  @media only screen and (max-width: 1020px) {
    width: 100vw;
    margin-left: -21.5vw;
  }

}
