<p-sidebar class="mobile-sidebar" [(visible)]="sidebarVisible">
  <p-panelMenu
    [model]="items"
    [style]="{ width: '280px' }"
    [multiple]="true"
    class="mb-20px active"
  ></p-panelMenu>
  </p-sidebar>
  <div style="position: absolute; z-index: 1000; right: 0; top: 0; margin: 20px;" class="mobile-sidebar"><p-button (click)="sidebarVisible = true" icon="pi pi-bars" ></p-button></div>



<aside class="sidebar-static">
  <section class="section-header">
    <div class="grid">
      <div class="col-12 md:col-6 footer-left">
        <h3>MENU</h3>
      </div>
    </div>
  </section>
  <p-panelMenu
    [model]="items"
    [style]="{ width: '280px' }"
    [multiple]="true"
    class="mb-20px active"
  ></p-panelMenu>
</aside>
